<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets async="true">
        <target name="file"
                xsi:type="File"
                fileName="logfile.csv"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="utf-8">

            <layout xsi:type="CSVLayout" Delimiter="Comma">
                <column name="time" layout="${date:format=yy-MM-dd HH\:mm\:ss.ff}" />
                <column name="level" layout="${level}" />
                <column name="thread" layout="${threadid}" />
                <column name="logger" layout="${logger:shortName=true}" />
                <column name="method" layout="${callsite:className=false:includeSourcePath=false}" />
                <column name="message" layout="${message}" />
                <column name="exception" layout="${exception:format=Type,Method,ToString}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>